<li class="stock<%=stock.id%>"> 
  <%= @ingredients.find_by(id: stock.ingredient_id).description %>
  | <%= stock.quantity %>
  | <a id='<%= stock.id %>' class="toggle" style="cursor: pointer">
    Toggle </a> 
  | <a id='<%= stock.id %>' class="refill" style="cursor: pointer">
    Refill </a> 
  | <a id='<%= stock.id %>' class="delete" style="cursor: pointer">
    Delete </a> 
</li>