<li class="stock<%=stock.id%>"> 
	<% if stock.quantity == 2 %>
	<div class="alert alert-success alert-white rounded">
	<% elsif stock.quantity == 1 %>
	<div class="alert alert-warning alert-white rounded">
	<% else %>
	<div class="alert alert-danger alert-white rounded">
	<% end %>
	  <a id='<%= stock.id %>' class="toggle" style="cursor: pointer">
	    <div class="icon icon<%=stock.id%>">
	    	<% if stock.quantity == 2 %>
	          <i class="fa fa-check"></i>
	    	<% elsif stock.quantity == 1 %>
	          <i class="fa fa-warning"></i>
	    	<% else %>
	          <i class="fa fa-times-circle"></i>
	        <% end %>
	    </div>
	  </a>
	     <a id='<%= stock.id %>' class="refill glyphicon glyphicon-refresh" style="cursor: pointer">
	    	   </a>
	    <strong>  <%= @ingredients.find_by(id: stock.ingredient_id).description %></strong> 


	     <a id='<%= stock.id %>' class="delete close" style="cursor: pointer">
	       × </a>
	</div>
</li>