<li>
  <%= @ingredients.find_by(id: stock.ingredient_id).description %>
  | <%= stock.quantity %>
  | <%= link_to "Toggle", toggle_stock_path(stock), method: :post %>
  | <%= link_to "Refill", refill_stock_path(stock), method: :post %>
  | <%= link_to "delete", stock, method: :delete %>
</li>